<!DOCTYPE HTML>
<html>
<head>
	<title>Mario Making Mods &raquo; 404 - Not found</title>

	<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<meta name="description" content="The page you are looking for was not found." />
	<meta name="keywords" content="Super Mario Maker, Mario Maker, Mario, Super Mario" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<base href="https://mariomods.net" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="theme-color" content="#2196F3" />
	<!-- Twitter information -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Mario Making Mods &raquo; 404 - Not found" />
	<meta name="twitter:image" content="/img/logo.png" />
	<meta name="twitter:description" content="The page you are looking for was not found." />
	<meta name="twitter:site" content="@Mario Making Mods" />
	<meta name="twitter:creator" content="@MaorNinja322" />
	<meta name="twitter:widgets:theme" content="dark">
	<meta name="twitter:widgets:link-color" content="#2196F3">
	<meta name="twitter:widgets:border-color" content="#2196F3">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:title" content="Mario Making Mods &raquo; 404 - Not found" />
	<meta name="og:title" content="Mario Making Mods &raquo; 404 - Not found" />
	<meta name="og:description" content="The page you are looking for was not found." />
	<meta name="og:url" content="https://mariomods.net/" />
	<meta property="og:url" content="https://mariomods.net/" />
	<meta name="og:site_name" content="Mario Making Mods" />
	<meta name="og:type" content="website" />
	<meta property="og:image" content="https://mariomods.net/apple-touch-icon.png" />

	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/modern.css" />
	<link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/big-grid.css" />
	<link rel="stylesheet" href="css/breadcrumbs.css" />
	<link rel="stylesheet" id="theme_css" href="/themes/nsmb2/style.css" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="manifest" href="/manifest.json" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css" integrity="sha256-MGU/JUq/40CFrfxjXb5pZjpoZmxiP2KuICN5ElLFNd8=" crossorigin="anonymous" />

	<script>
		(function(document,navigator,standalone) {
			// prevents links from apps from oppening in mobile safari
			// this javascript must be the first script in your <head>
			if ((standalone in navigator) && navigator[standalone]) {
				var curnode, location=document.location, stop=/^(a|html)$/i;
				document.addEventListener('click', function(e) {
					curnode=e.target;
					while (!(stop).test(curnode.nodeName)) {
						curnode=curnode.parentNode;
					}
					// Conditions to do this only on links to your own app
					// if you want all links, use if('href' in curnode) instead.
					if('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
						e.preventDefault();
						location.href = curnode.href;
					}
				},false);
			}
		})(document,window.navigator,'standalone');
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/pace.js"></script>
	<script src="/js/breadcrumbs.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/tricks.js"></script>
	<script src="/js/jscolor.js" async></script>
	<script src="/js/jquery.timeago.js"></script>
	<script>boardroot = "\/";</script>
	<script>
  if ('serviceWorker' in navigator) {
    console.log("Will the service worker register?");
    navigator.serviceWorker.register('service-worker.js')
      .then(function(reg){
        console.log("Yes, it did.");
      }).catch(function(err) {
        console.log("No it didn't. This happened: ", err)
      });
  }
	</script>

	</head>

<body style="width:100%; min-height:100%;">
<form action="/accounts/login" method="post" id="logout" style="display:none;"><input type="hidden" name="action" value="logout"></form>
<div style="min-height:77vh;">
	
	<nav class="navbar navbar-inverse" style="position:sticky; position: -webkit-sticky; top: 0; z-index: 100; margin-bottom: 0px; border-radius: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
									<a class="navbar-brand" style="padding: 10px 10px;" href="./">
						<img id="theme_banner" src="/img/logo.png" style="height: 30px;" alt="Mario Making Mods"  title="Mario Making Mods">
					</a>
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                   
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="./">Home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="./board">Forums <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="./board">Index</a></li>
							<li><a href="./lastposts">Latest posts</a></li>
							<li><a href="./activeusers">Active Users</a></li>
							<li><a href="./search">Search</a></li>
							<li><a href="./memberlist">Member list</a></li>
							<li><a href="./ranks">Ranks</a></li>
							<li><a href="./online">Online users</a></li>
						</ul>
					</li>
											<li><a href="./faq">FAQ</a></li>
											<li><a href="/depot">Depot</a></li>
											<li><a href="/wiki">Wiki</a></li>
					
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<p class="dropdown-toggle" data-toggle="dropdown" style="padding: 15px 15px; margin: 0; color: white;">
							Welcome Guest <span class="caret"></span>
						</p>
						<ul class="dropdown-menu">
															<li><a href="/accounts/login">Login</a></li>
																							<li><a href="./register">Register</a></li>
															
													</ul>
					</li>
									</ul>
			</div>
		</div>
	</nav>

	

	<div id="onlineUserBar" style="width: 100%; text-align:center;">
		<div id="onlineUsers">2 users online: <a href="/profile/25-conkerisanut" title=""><span  style="color: #97ACEF;" class="userlink" title="Conkerisanut (25) [Normal user]">Conkerisanut</span></a>, <a href="/profile/2066531761-falconrpg" title=""><span  style="color: #97ACEF;" class="userlink" title="FalconRPG (2066531761) [Normal user]">FalconRPG</span></a> | 3 guests | 7 bots</div>
		<script>
			onlineFID = 0;
			window.addEventListener("load",  startOnlineUsers, false);
		</script>
			</div>
	
			<br>

	<div class="container-fluid text-center">    
		<div class="row content">
						<div class="col-sm-12 text-left">
					<table class="table table-bordered table-striped">
		<tr class="header1"><th>404 - Not found</th></tr>
		<tr class="cell0">
			<td>
				<br>
				The page you are looking for was not found.<br>
				Requested URL: mariomods.net/img/layout/granimated/bg_character.png<br><br>
				<a href="/">Return to the MarioMods Homepage</a><br>
				<a href="javascript:history.go(-1)">Return to the previous page</a><br>
				<br>
			</td>
		</tr>
	</table>


			</div>
		</div>
	</div>
</div>



<footer class="footer font-small" style="background: #2f2f2f; botttom:0; left:0; right:0; min-height: 20vh;">
	
			
	<div class="container">
		<div class="row">
			<div style="padding-bottom: 3rem; padding-top: 3rem; text-align: center;">
				<div class="mb-5">
					<a href="https://www.youtube.com/c/MarioMakingMods" class="yt-ic" style="color: white!important; margin-right: 3rem!important;">
						<i class="fa fa-youtube fa-3x fa-fw"></i>
					</a>
					<a href="https://twitter.com/MarioMakingMods" class="tw-ic" style="color: white!important; margin-right: 3rem!important;">
						<i class="fa fa-twitter fa-3x fa-fw"></i>
					</a>
					<a href="https://discord.gg/CUgW6yN" class="discord-ic" style="color: white!important;">
						<i class="fa fa-discord-alt fa-3x fa-fw"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-center py-3" style="background: black; color: white;">
		Mario Making Mods &middot; by <a href="/profile/1-nightyoshi370" title=""><span  style="color: #5555FF;" class="userlink" title="NightYoshi370 (1) [Owner]"><img src="/data/minipics/1_1514953572.png" alt="" class="minipic" />&nbsp;NightYoshi370</span></a>, StapleButter <a href="/credits">& others</a><br />
Page rendered in 0.019891977310181 seconds (with 20 SQL queries and 2 MB of RAM).
	</div>
</footer></body>
</html>
